<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../wwwroot/favicon.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Index: @Index</p>
        <a href="#" class="btn btn-primary">Reload</a>
    </div>
</div>

@code {
    [Parameter]
    public int Index { get; set; }
}
