@using ValorantStatusWebView.API
@using ValorantStatusWebView.DataTransferObjects
@using ValorantStatusWebView.Models
@using ValorantStatusWebView.Components.Shared;
@attribute [StreamRendering]
@inject ApiService Client

<h3>Valorant Server Status by Akif</h3>
<div class="statusview-content">
    @{
        foreach (var region in Enum.GetValues(typeof(RegionStatusCard.Regions)))
        {
            <ValorantStatusWebView.Components.Shared.RegionStatusCard Region="(RegionStatusCard.Regions)region" />
        }
    }
</div>
